.DS_Store
*.png
FWI/*.png
G.txt
FWI/figures*
*.pyc
*.pdf
*.blg
*.log
*gz
apps/data/
apps/figs
src/backup
*build*
.vscode/
*.json
*.txt
docs/build
!docs/src/asset/*.png
!docs/src/assets/*.png
._*
.*.swp
!*CMakeLists.txt
*.mat
test/figure
test/.ipynb_checkpoints/
!deps/build.jl