.DS_Store
*.png
FWI/*.png
G.txt
FWI/figures*
*.pyc
*.pdf
*.blg
*.log
*gz
apps/data/
apps/figs
src/backup
*build*
.vscode/
*.json
*.txt
docs/build
!docs/src/asset/*.png
!docs/src/assets/*.png
._*
.*.swp
!*CMakeLists.txt
test/figure
test/.ipynb_checkpoints/
!deps/build.jl
System Volume Information
!deps/CustomOps/ScatterAddOps/custom_op.txt
!deps/CustomOps/ScatterNdOps/custom_op.txt
!deps/CustomOps/GatherOps/custom_op.txt
test/
examples/mpi_acoustic/data/*.jld2
*.jld2